/*removes webpage default margin*/
*{
    margin:0 ;
}
/*body*/
body{
    background-color: #ffffff;
    text-decoration-color:#080D0B; 
    font-family: 'Noto Serif SC', serif;
}
/*nav style*/
nav ul{
    display:flex;
    justify-content:space-between;
    background-color: #FD4D02;
    list-style:none ;
}
/*nav link style*/
nav li a{
    display: block;
    padding: 15px;
    color:  #ffffff;
}
 a:hover{
    color:#fff111;
}
.active{
    background-color:#F4461D;
}
/*other links style*/
a{
    text-decoration: none;
    color:#F4461D;
}
/*index banner*/
.banner{
    background: url(../images/food%201.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}

.banner h1{
    padding:200px 0 ; 
    color:#FD4D02;
    font-size: 55px;
    font-weight: 500;
    text-transform: capitalize;
   
}
/*all h1 tag*/
h1{
    margin: 10px;
    text-align: center;
}
/*h2 tags*/
h2{
    padding: 50px;
    text-align: center;
}
/*signin and signup style*/
section.sign{
   display: flex;
   justify-content: center;  
}
div.sign{
    text-align: center;
    width:500px;
    border-radius: 15px;
}
/* sign in and sign up input tag styles*/
.input{
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    border-color: #FD4D02;
    border-radius: 4px;
}
/* button style*/
button{
    margin: 15px;
    padding: 15px 50px;
    background-color: #FD4D02;
    border-radius: 20px;
    color:#ffffff;   
}
button a{
    color:#ffffff;
}
/*all images*/
img{
    width: 20em;
    display: flex;
    margin:10px;
    border-radius:15px;
}
/*todays menu style*/
div.head{
    
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}
ul{
    padding-left: 10px;
    list-style: none
}
/*caterer area style*/
div.caterer{
    text-align: center;
    border: 1px solid #CC9933;
    border-radius: 20px;
}
/*Dashboard table style*/
.appname{
     text-align: center;
     color: #ffffff;
     background-color: #FD4D02;
     display: block;
     padding: 5px;
    
}
div.dash{
  display: flex;
    flex-wrap:wrap;
     justify-content:space-between;
     text-align: center;
    margin: 3em;
}
div.dash-inner{
     border: 1px solid #FD4D02;
    border-collapse: collapse;
    width: auto;
     border-radius: 20px;
}
table{
    width: 100%;
    text-align: center;
}
table,tr,th,td{
    border-bottom: solid;
    border-color:#FD4D02;
    border-collapse: collapse;
    padding:10px;
}
/*footer*/
footer{
    text-align: center;
    padding: 10px;
    background-color: #FD4D02;

}
footer a{
    color: #ffffff;
}
